.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:70px;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #363636;

}

.summary{

    width: 1110px;
    text-align: center;
    font-size: medium;
    line-height: 1.6; 
     
}


.base1{
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
    height: auto;
    margin-top: 20px;
    border: 2px solid #f0f0f0 ;
}

.base1:hover{

    /* cursor: pointer;  */
    box-shadow: 4px 4px 10px #cccccc ; 
}

.keySkills{

    margin-top: 20px;
}

.skillsList{

    list-style-type: none; /* Remove default bullet points */
    padding: 0;
    margin-top: 20px;
    display: flex; 
    flex-wrap: wrap; 
    gap: 15px; /* Add spacing between items */
}

.skillsList li {
    display: inline-block; /* Ensure items are inline */
    padding: 5px 10px; /* Add some padding for better spacing */
    background-color: #f0f0f0; /* Optional: Add a background for styling */
    border-radius: 5px; /* Optional: Add rounded corners */
}

.skill:hover {

    /* cursor: pointer;  */
    box-shadow: 4px 4px 10px #cccccc ; 
}

.experienceTitle{

    margin-top: 30px;
    font-size: 30px;
    font-weight: 400;
    color: #363636;
}

.experienceCards{

    width: auto;
    height: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.card{

    display: flex;
    flex-direction: column;
}

.toggleButton{

    background-color: #f0f0f0;
    color: #363636;
    height: 70px;
    width: 1110px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    justify-content: space-around;
}

.toggleButton:hover{

    cursor: pointer;
    background-color: #4285F4;
    color: #ffffff;
}


.content{

    margin-left: 30px;
    margin-top: 15px;
    display: none
}

.role{

    cursor:pointer;
    font-size: 20px;
}

.educationTitle{

    margin-top: 30px;
    font-size: 30px;
    font-weight: 400;
    color: #363636;
}