<div class="mainContainer">

    <div class="summary">
        <!-- <hour2> Summary</h2> -->
        <span>A passionate and experienced Angular Developer with 3 years of expertise in creating dynamic, responsive, and user-friendly web applications. Proficient in the Angular framework, TypeScript, JavaScript, HTML, and CSS, with a strong command of Git for version control. Skilled at collaborating with cross-functional teams to deliver high-quality, scalable, and performance-optimized software solutions. Adept at troubleshooting complex issues and writing clean, maintainable code while adhering to industry best practices. Committed to staying updated with the latest technologies and trends to continuously enhance development efficiency and innovation.</span>
        <p>
        <span>2x Star of the Month | 3x Appreciations | UI/UX Intern - Sudan’s Tech | UI/UX Intern - GirlsScript Foundation | Python Instructor | Category Winner - Hack you Portfolio | Speaker/Organizer - Github Workshop | Rewarded Top Volunteer - HTM 2.0 | Student Ambassador - HackOn 2.0 | Champion Ambassador - GIRLSXTECH | Stu Amb - AngelHacks | Campus Ambassador VF | Best Outreach Partner - HackOdisha</span>
        
    </div>

    <div class="keySkills">
        <!-- <h2>Key Skills</h2> -->
        <ul class="skillsList">
            <li>Angular</li>
            <li>TypeScript</li>
            <li>JavaScript</li>
            <li>HTML </li>
            <li>CSS</li>
            <li>Git & Version Control</li>
            <li>RESTful APIs</li>
            <li>Agile Methodologies</li>
        </ul>
    </div>

    <div class="experience">
        
    </div>


</div>