<div class="mainContainer">
    <div class="left">
        <img  class="photo" src="\assets\images\dd.jpg">
    </div>
    <div class="right">
        <h2 class="name">Manisha Gupta</h2>
        <div class="details">
            <span class="mail">manishaguptawork11&#64;gmail.com</span>
            <span class="number">+91-8319658791</span>
            <span class="location">Pune, India</span>
        </div>
        <div class="socials">
            <a href="https://www.linkedin.com/in/manisha-gupta-here/" target="_blank"><img class="linkedin icon" src="\assets\images\linkLogo.svg"></a>
            <a href="https://github.com/manisha069" target="_blank"><img class="github icon" src="\assets\images\ghLogo.svg"></a>
            <a  target="_blank" (click)="downloadResume()" href="\assets\resume.pdf" id="resume"><img class="resume icon" src="\assets\images\resume.svg"></a>
            
            <!-- <div class="hackerrank"></div>
            <div class="devpost"></div> -->
        </div>
    </div>

    

</div>